database/Lab05/titles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:attribute name="id_title" type="xs:unsignedShort" use="required" />
            <xs:attribute name="name_origin" type="xs:string" use="required" />
            <xs:attribute name="name_local" type="xs:string" use="required" />
            <xs:attribute name="description_title" type="xs:string" use="required" />
            <xs:attribute name="id_type" type="xs:unsignedByte" use="required" />
            <xs:attribute name="episodes" type="xs:unsignedByte" use="required" />
            <xs:attribute name="duration" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>